<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fullscreen Video</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<video id="videoPlayer" autoplay muted>
    <source id="videoSource" type="video/mp4" />
    Your browser does not support the video tag.
</video>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>

    var videos;
    var currentVideoIndex = 0;
    var videoPlayer = document.getElementById("videoPlayer");
    var videoSource = document.getElementById("videoSource");

    function playNextVideo() {
        currentVideoIndex = (currentVideoIndex + 1) % videos.length;
        console.log("Playing video index:", currentVideoIndex);

        videoSource.src = "/video/" + videos[currentVideoIndex];
        videoPlayer.load();
        videoPlayer.play();
    }

   function playing(){
       $.get("/filename", (response) => {
           console.log("Response received:", response);
           videos = response.data;
           console.log("Videos array:", videos);
           if (videos.length > 0) {
               videoSource.src = "/video/" + videos[currentVideoIndex];
               console.log("Starting with video:", videos[currentVideoIndex]);
               videoPlayer.load();
               videoPlayer.play();
               videoPlayer.onended = playNextVideo;
           } else {
               console.error("No videos found!");
           }
       });
   }

    window.onload = playing;

</script>
</html>
