<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video CMS</title>
    </head>
    <body>
        <h1>Upload Video</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input
                type="text"
                name="title"
                placeholder="Video Title"
                required
            />
            <input type="file" name="file" accept="video/*" required />
            <button type="submit">Upload</button>
        </form>

        <h2>Video List</h2>
        <ul>
            <li th:each="video : ${videos}">
                <div>
                    <h3 th:text="${video.title}"></h3>
                    <button
                        style="color: red; font-size: 23px"
                        th:onclick="|deleteVid(${video.id})|"
                    >
                        X
                    </button>
                </div>

                <video width="320" height="240" controls>
                    <source
                        th:src="@{'/video/' + ${video.fileName}}"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </li>
        </ul>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        function deleteVid(id) {
            $.ajax({
                url: `/delete?id=${id}`,
                type: "DELETE",
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Error deleting video: ", error);
                },
            });
        }
    </script>
</html>
